/*__________  atributos batalha __________*/
*{
    padding: 0;
    margin: 0;
}
#atributos{
    margin-top: 5vh;
    max-width: 30vw;
    box-shadow: #0e0c0c60 1px 3px 20px;
    background-color: rgba(193, 202, 199, 0.089);
    border-radius: 7px;
}
#container-princial{
    display: flex;
    min-width: 29vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    justify-content: center;
    background-color: rgba(36, 34, 34, 0.952);
    border-radius: 7px;
}
.container-vida{
    min-width: 15vw;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;

}

#container-vida-p2{
    justify-content: end;
    justify-self: end;
    align-items: center;
}
#nome-jogador1{
    padding-left: 2vw;
    text-align: center;
}
#nome-jogador2{
    padding-left: 1vw;
    text-align: center;
}
#vida-p1{
    margin-left: 1vw;
    background-color: lime;
    text-align: center;
}
#vida-p2{
    background-color: lime;
    justify-self: end;
    text-align: center;
    font-weight: bold;
   

}
#versus{
    font-size: 1.4em;
}

#container-secundario{
    display: flex;
    min-width: 30vw;
    justify-content: space-around;
    margin-top: 3vh;
    background-color: rgba(42, 44, 43, 0.61);
    border-radius: 7px;
}

#container-rodada{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(42, 44, 43, 0.61);
    border-radius: 7px;

}
.jogador p{
    padding-top: 0.5vh;
}

#ataque-defesa{
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
    max-height: 15vh;
 

    background-color: rgba(42, 44, 43, 0.61);
    border-radius: 7px;
}

.container-resultado{
    display: flex;
   
}

.espada{
    max-width: 3.5vw;
    cursor: pointer;
    transform: scaleY(-1);
    margin-right: 2vw;
    padding-left: 1vw;

}
.espada:hover{
    padding-right: 0.5vw;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 7px;
}
.escudo{
    max-width: 5vw;
    cursor: pointer;
    padding-top: 3vh;
    padding-bottom: 1vh;
}
.escudo:hover{
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 7px;
}
#dado{
    max-width: 4vw;
    border-radius: 14px;
}

#footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: black;
}

#rodadas{
    padding-top: 2vh;
}