*{
    padding: 0;
    margin: 0;
}
/*__________  Personagens jogador 1 __________*/

/*
#mostra-ninja{
   display: none;
}

#mostra-guerreira{
    display: none;
}

#mostra-centuriao{
    display: none;
}

#mostra-soldado{
    display: none;
}

#mostra-fada{
    display: none;
}

#mostra-mago{
    display: none;
}

#mostra-necromante{
    display: none;
}

#mostra-elfo{
    display: none;
}

#mostra-trol{
    display: none;
}

#mostra-orc{
    display: none;
}

#mostra-lobisomem{
    display: none;
}

#mostra-orc-warrior{
    display: none;
}

#mostra-cyber-human{
    display: none;
}
#mostra-spider{
    display: none;
}

#mostra-war-robot{
    display: none;
}

#mostra-war-girl{
    display: none;
}

*/