.container-jogador2{
    display: flex;
    justify-content: start;
}

.personagens-jogador2{
    max-width: 35vw;
    max-height: 80vh;
}
.container-tamanho-jogador2{
    max-width: 40vw;
    max-height: 80vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 40px;
    box-shadow: #080808 1px 3px 20px;
    text-align: center;
}
.img-jogador2{
    max-width: 29.5vw;
}
#defesa-rodada-jogador2{

    margin-top: 1vh;
    background-color: #16161693;
    border-radius: 5px;
    padding-top: 0.5vh;
    
}
#ataque-rodada-jogador2{
    margin-top: 1vh;
    background-color: #16161693;
    border-radius: 5px;
    
    padding-left: 0.5vw;
}